heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:wavy;
    text-shadow: var(--text-shadow)
}

.header .navbar{
    position: absolute;
    top: 99%; left: 0; right: 0;
    background-color: var(--white);
    border-top: var(--border);
    padding: 2rem;
    transition: .2s linear;
    clip-path: polygon(0 0, 100% 0, 0 0);
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
