h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:wavy;
    box-shadow: inset;
    text-shadow: var(--text-shadow);
}
h2{
    text-align: left ;
    color: rgba(9, 161, 34, 0.856); 
    text-transform: uppercase;
    text-decoration: underline;
}