:root{
    --main-color: #2ac879e5;
    --black:#222;
    --white: #fff ;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
    --russet: #783D19;
    --laurelgreen: #A9B388;
}
head.body {
    background-image: url(Images/background13.jpeg);
} 
h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration:wavy;
    box-shadow: inset;
    text-shadow: var(--text-shadow);
}
h2{
    text-align: left ;
    color: rgba(9, 161, 34, 0.856); 
    text-transform: uppercase;
    text-decoration: underline;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

table{
   border: solid 1px 373737; 
   width: 50%;
   border-collapse: collapse;
}
td{
    border: solid 1px 373737;  
    padding: 5px;
    text-align: left; 
}
th{ 
    background-color:  #003e29;
    color: #78371c;
    padding: 5px;
    text-align: left; 
}

tr:nth-child(odd){
    background-color: #a9f0d2;
}
tr:hover{
    background-color:#78371c;
}
ol{
    color: green;
}
.btn{
    display: inline-block;
    background: var(--russet);
    margin-top: 1rem;
    color: var(--whitE);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--laurelgreen);
}
.home-projects{
    background-image: url(C:\xampp\htdocs\C_WAD\Images\background8.jpg);
}
.home-projects .Heading-title{
    font-size: 2rem;
    margin-left: 5rem;
    color: black;
}
.home-projects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem 1 fr));
    gap: 1rem;
}
.home-projects .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
   
}
.home-projects .box-container  .image{
    height: 50rem;
    overflow: hidden;
}
.home-projects .box-container .image img{
    height: 80%;
    width: 100%;
    object-fit:cover;
    transition: .2s linear;
}
.home-projects .box-container .box .content{
    padding: 1rem;
    text-align: center;
}
.home-projects .box-container .box .content h3{
    font-size: 2.5rem;
    color: #783D19;
}
.home-projects .box-container .box .content p{
    font-size: 1.5rem;
    color: lightslategrey;
    line-height: 2;
    padding: 1rem 0;
}
.home-projects .load-more{
    text-align: center;
    margin-top: 2rem;
}
.home-projects .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.home-projects .load-more{
    text-align: center;
    margin-top: 2rem;
}